@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');


/* headings */
h3 {
    font-family: 'VT323', monospace;
    font-size: 50px;
    color: #ffffff;
    text-align: left; 
}

/*lists*/
.cart-items li {
    padding: 10px;
    font-family: 'VT323', monospace;
    color: #ffffff;
    display: block;
    font-size: 25px;
    line-height: normal;
    width: 100%;
    text-align: left;
}

