
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

/* background */
body {
  background-color:#4EC0D4;
}

/* headings */

h1 {
  font-family: 'VT323', monospace;
  font-size: 100px;
  color: #ffffff;
  text-align: center;
}

/*paragraphs*/
p {
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: #ffffff;
}

/* logo cover */
.logo_cover {
  display: block;
  width: 100%;
}

  /* navigation menu */

  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #17272C;
  }
  
  li {
    float: left;
    font-family: 'VT323', monospace;
    font-size: 25px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #04789F;
  }

  @media screen and (max-width: 600px) {
    .nav-list li.right, 
    .nav-list li {float: none;}
  }

  /* Game listings */

  div.card {
    background-color: #04789F;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
  }
  
  div.card:hover {
    border: 1px solid #17272C ;
  }
  
  div.card img {
    width: 100%;
    height: auto;
  }
  
  div.description {
    padding: 15px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 15.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Individual Listings (Show)*/
  
  div.listing-picture img {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  div.listing-description {
    padding: 15px;
    text-align: center;
  }

  .details-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  /* Form */
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit]:hover {
    background-color: #04789F;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  
  
  