
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

/* background */
body {
  background-color:#4EC0D4;
}

/* logo cover */
.logo_cover {
  display: block;
  width: 100%;
}

/*page headings*/

.edit-listing, .list-game, .shopping-cart, .all-orders, .order-details, .listing-title {
  font-family: 'VT323', monospace;
  font-size: 75px;
  color: #ffffff;
  text-align: center;
}

/* navigation menu */

  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #17272C;
  }
  
  .nav-list li {
    float: left;
    font-family: 'VT323', monospace;
    font-size: 25px;
  }
  
  .nav-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-list li a:hover {
    background-color: #04789F;
  }

  @media screen and (max-width: 600px) {
    .nav-list li.right, 
    .nav-list li {float: none;}
  }

  /*devise login*/

  .devise li {
    list-style-type: none;
    color: #ffffff;
    font-family: 'VT323', monospace;
    font-size: 30px;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .or {
    color: #ffffff;
    font-family: 'VT323', monospace;
    font-size: 30px;
    display: block;
    text-align: center;
  }

  .devise li a:visited {
    color: #ffffff;
  }

  /* game product cards*/
  .cards {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 500px 500px 500px;
    }
  
  .game-card {
    place-self: center stretch;
    box-shadow: 0 0 .5rem #17272C;
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: .5rem;
  }

  .card-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    max-width: auto;
    height: auto;
    border-radius: .5rem;
    margin: 5px 5px 5px 5px;
    display: block; 
    float: left;
    }
    
  .game-name {
    margin-top: 60px;
    color: #4EC0D4;
    box-shadow: 0 0 .5rem #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 25px;
    }

  .button{
      color: #4EC0D4;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 .5rem #ffffff;
      text-align: center;
      padding: 5px;
    }

  .game-price {
    display: flex;
    flex-direction: column;
    color: #17272C;
    font-size: large;
    text-align: center;
    }
  
  /* view game details */
  .listing-picture {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    float: left;
  
  }
  .listing-details {
    margin-top: 70px;
  }

  .listing-details li {
    list-style: none;
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: #ffffff;
    text-align: left;
    margin-right: 50px;
    margin-top: 15px;
    margin-left: 80px;
  }

  /* forms */

  input[type=text], select, textarea {
    width: 50%;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type=email], select, textarea {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type=password], select, textarea {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    display: inline-block;
  }
  
  input[type=submit]:hover {
    background-color: #04789F;
  }
  
  
  
  
  
  